/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: rgb(13, 21, 29);
    --accent: #CB3B3B;
    --accent2: #E0C45C;
    --text: rgb(200, 200, 200);
    --shadow: grey;
    --light1: rgba(255, 255, 255, 0.1);
    --light2: rgba(255, 255, 255, 0.05);
    --font: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    font-family: var(--font);
    font-weight: normal;
    color: var(--text);
    background-color: var(--background);
}

h1 {
    font-weight: lighter;
}

/*navigation styling*/
.navbar {
    border-top: solid;
    border-bottom: solid;
    border-color: var(--light1);
    border-width: 2px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.navitem {
    display: block;
    color: var(--text);
    text-align: center;
    padding: 10px 16px;
    margin: 15px 15px;
    text-decoration: none;
    font-size: 20px;
}

.navitem:hover {
    box-shadow: inset 0px -4px var(--accent);
    color: var(--accent);
    font-weight: bold;
}

/*header styling*/
.header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    padding: 0;
}

.logo {
    font-size: 200px;
    font-style: italic;
    font-weight: normal;
    color: var(--accent);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.sub {
    margin: 5px;
    padding: 0;
    font-weight: lighter;
    font-size: 25px;
}

.aboutwrapper {
    display: flex;
    flex-direction: row;
}

.aboutcolumn {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.img {
    display: block;
    width: 30%;
    height: 30%;
    margin: 50px;
}

.panel_wrapper {
    display: flex;
    flex-flow: row wrap;
}

.panel_wrapper>*{
    padding: 30px;
    margin: 30px;
    flex: 1 100%;
    border-radius: 10px;
}

.main {
    text-align: left;
    background: var(--light1);
    height: fit-content;
}

@media all and (min-width: 800px){
    .main{
        flex: 3;
        order: 1;
    }

    .aside1{
        max-width: 40%;
        order: 2;
        background: var(--light2);
    }

    .aside2{
        order: 2;
    }
}

.linkwrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.linkpanel {
    color: var(--text);
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 30px 70px;
    margin: 30px;
    border-radius: 10px;
    background: var(--light1)
}

.linkpanel:hover {
    background-color: var(--accent);
    color: var(--background);
}
