/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=WindSong:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: rgb(13, 21, 29);
    --accent: #CB3B3B;
    --accent2: #E0C45C;
    --text: rgb(200, 200, 200);
    --shadow: grey;
    --light1: rgba(255, 255, 255, 0.1);
    --light2: rgba(255, 255, 255, 0.05);
    --font: 'Roboto', sans-serif;
}

.btn {
    text-decoration: none;
}
